<div class="container-fluid">
  <div class="row">
    <h1 align="center">Recomendded Flight Search Tools</h1>
    <div class="row">
      <div class="col-xs-6" align="center">
        <a href="https://www.skyscanner.co.il/"><img 
            src="https://upload.wikimedia.org/wikipedia/commons/0/02/Skyscanner_logo2.png" 
            alt=""></a>
      </div>
      <div class="col-xs-6" align="center">
        <a href="https://www.expedia.com/"><img 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Expedia_2012_logo.svg/320px-Expedia_2012_logo.svg.png" 
            alt=""></a>
      </div>      
    </div>
    <br><br>
    <div class="row">
      <div class="col-xs-6" align="center">
          <a href="https://www.kayak.com/"><img 
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cb/Kayak_Logo.svg/320px-Kayak_Logo.svg.png" 
            alt=""></a>
      </div>
      <div class="col-xs-6" align="center">
          <a href="https://www.booking.com/"><img 
            src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Booking.com_logo2.png"  
            alt=""
            style="max-width: 350px;"></a>
      </div>            
    </div>  
  </div>
</div>
